# /etc/systemd/system/live-hls-transcode.service
[Unit]
Description = live-hls-transcode
After = network.target

[Service]
Type = simple
ExecStart = /opt/live-hls-transcode
EnvironmentFile = -/etc/live-hls-transcode
Restart = always
RestartSec = 5s

[Install]
WantedBy = multi-user.target
