<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>{{.UrlPath}}</title>

	<link rel="stylesheet" href="/___frontend/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" href="/___frontend/font-awesome/css/all.min.css">

	<link rel="apple-touch-icon" href="/___frontend/icons/icon-bordered.png">
	<link rel="icon" href="/___frontend/icons/icon-borderless.png">
</head>
<body>
<div class="container mt-3">
	<h1>{{.UrlPath}}</h1>
    {{if not .IsRoot}}
		<div>
			<a href="../" class="btn btn-secondary"><i class="fa fa-arrow-up mr-1"></i> One level up</a>
		</div>
    {{end}}


	<ul class="list-group mt-3">
        {{range .Files}}
			<li class="list-group-item">
				<div class="row">
                    {{if .IsDir}}
						<div class="col-12">
							<a href="{{.Name}}/">
								<i class="far fa-folder mr-1"></i>
                                {{.Name}}
							</a>
						</div>
                    {{else if .IsStream}}
						<div class="col-md-8">
							<a href="{{.Name}}">
								<i class="far fa-file-video mr-1"></i>
                                {{.Name}}
							</a>
						</div>
						<div class="col-md-4 text-right">
							<i>{{.Size}}</i>
							<a href="{{.Name}}?stream" class="font-italic">
								Stream
								<i class="fas fa-play"></i>
							</a>
						</div>
                    {{else}}
						<div class="col-md-8">
							<a href="{{.Name}}">
								<i class="far fa-file mr-1"></i>
                                {{.Name}}
							</a>
						</div>
						<div class="col-md-4 text-right">
							<i>{{.Size}}</i>
						</div>
                    {{end}}
				</div>
			</li>
        {{end}}
	</ul>
</div>
</body>
</html>
