Files:
<ul>
    {{if not .IsRoot}}
		<li>
			<a href="../" class="up">..</a>
		</li>
    {{end}}

    {{range .Files}}
		<li>
            {{if .IsDir}}
				<a href="{{.Name}}/" class="dir">{{.Name}}</a>
            {{else if .IsStream}}
				<a href="{{.Name}}?stream&status" class="stream">{{.Name}}</a> <i>Stream</i>
            {{else}}
				<a href="{{.Name}}" class="file">{{.Name}}</a> <i>{{.Size}} Bytes</i>
            {{end}}
		</li>
    {{end}}
</ul>
dd
