<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ .UrlPath }}</title>
	<link rel="stylesheet" href="/___frontend/bootstrap/bootstrap.min.css">
</head>
<body>
<h1>{{.UrlPath}}</h1>
<a href="..">up</a><br>

{{if .NoStream}}
	There is no Stream yet.
	<a href="?stream&start">Start Stream-Transcoding</a>
{{else if .StreamInPreparation}}
	Stream in Preparation…
	<a href="?stream&stop">Cancel Stream-Transcoding</a>
{{else if .StreamReady}}
	Stream is Ready (still transcoding)
	<a href="?stream&playlist">Play</a>
	<a href="?stream&stop">Cancel Stream-Transcoding</a>
{{else if .TranscodingFinished}}
	Transcoding is finished
	<a href="?stream&playlist">Play</a>
{{else if .StreamTranscodingFailed}}
	Stream-Transcoding failed
{{end}}

{{if .ShowStatus}}
	<h2>Status</h2>
	Last Accessed {{.LastAccess.Format "02. Jan 2006 15:04"}}<br>
	Valid until {{.ExpirationDate.Format "02. Jan 2006 15:04"}}
{{end}}

{{if .StreamInPreparation}}
	<h2>Progress</h2>
	<ul>
		<li>ProcessedDuration: {{.ProcessedDuration}}</li>
		<li>TotalDuration: {{.TotalDuration}}</li>
		<li>ProcessedPercent {{printf "%.2f" .ProcessedPercent}}%</li>
	</ul>
{{end}}

{{if .OtherStreamInfos}}
	<h2>Other Streams</h2>
	<ul>
        {{range .OtherStreamInfos}}
			<li>
				<a href="{{.UrlPath}}?stream">{{.UrlPath}}</a>
                {{if .IsRunning}}
					(<a href="{{.UrlPath}}?stream&stop">Cancel</a>)
                {{end}}
			</li>
        {{end}}
	</ul>
{{end}}
<script src="/___frontend/jquery/jquery.min.js"></script>
<script src="/___frontend/frontend.js"></script>
</body>
</html>
